@font-face {
  font-family: 'MyFont';
  src: url('../Fonts/shlop\ rg.otf');
}

.search{
  display: flex;
  justify-content: space-between;
}

.buscador {
  border: 2px solid #909090;
  border-bottom: 2px solid #909090;
  border-radius: 15px;
  outline: black;
  margin-top: 0.3em;
  margin-bottom: 0.3em;
  padding: 10px;
  width: 60%;
  position: relative;
  align-items: center;
  text-align: center;
  box-shadow: 0px 2px 9px black;
  font-family: 'MyFont';
  font-size: 19px;
}
      
.buscador:hover {
  background-color: white /* rgba(255, 255, 255, 0.681) */;
  color:  rgb(0, 0, 0);
  font-size: 19.4px;
  transition: 0.10s;
  border: 3px solid #5c06f1a8;
  border-bottom: 3px solid #5c06f1a8;
}

.agrega{
  border: 2px solid #909090;
  border-bottom: 2px solid #909090;
  border-radius: 12px;
  outline: black;
  border-radius: 50%;
  padding: 8px;
  margin-top: 0.3em;
  margin-bottom: 0.3em;
  width: 38%;
  position: relative;
  justify-content: center;
  align-items: center;
  text-align: center;
  box-shadow: 0px 2px 9px black;
  font-family: 'MyFont';
  font-size: 19px;
}

.agrega:hover {
  background-color: #edfe03ef /* #06f187a8 */;
  color:  rgb(0, 0, 0);
  transition: 0.20s;
  border: 2px solid  #0ef1065f /* #a221f2a8 */;
  border-bottom: 2px solid #0ef1065e /* #a221f2a8*/ ;
}